/* Authentication menu items */
.signedIn > li > a.signUpBtn {
  display: none;
}

#dropdown-auth-menu,
#nav-auth-menu {
}

.signedIn .loginBtn,
.signedIn .signUpBtn {
  display: none;
}

.signedOut .logoutBtn,
.signedOut .myProfileBtn {
  display: none;
}
